@import "index.scss";

.dayContainer {
  width: 12.5%;
  @include flexCol;
  align-items: flex-start;
  gap: 12px;

  .numday {
    font-size: $size32;
  }

  .weekday {
    font-size: $moderate;
  }

  .noteWrapper {
    @include flexCol;
    align-items: flex-start;
    gap: 8px;
  }
}
