@import "index.scss";

.dayContainer {
  width: 13%;
  height: 100%;
  @include flexCol;
  justify-content: flex-start;
  padding-top: 25px;
  gap: 12px;

  .numday {
    font-size: $size32;
  }

  .weekday {
    font-size: $moderate;
  }

  .noteWrapper {
    @include flexCol;
    align-items: flex-start;
    gap: 8px;
    width: 100%;
  }
}
