@import "index.scss";

.page {
  position: relative;
  overflow: hidden;

  .view {
    position: absolute;
    top: 0px;
    left: $sidebar;
    @include flexCol;
    width: calc(100vw - $sidebar);
  }
}
