@import "index.scss";

.calendar {
  width: 100%;
  max-width: 500px;
  @include flexCol;

  .header {
    @include flexRow;
    justify-content: space-between;
    width: 100%;
    padding: 0 15px;

    .title {
      color: var(--text);
      font-size: $pxsize28;
      line-height: 25px;
    }
  }

  .body {
    width: 100%;
    @include flexRow;
    flex-wrap: wrap;
    font-size: $pxlarge;
    padding-top: 15px;

    .weekdayCell {
      width: 14%;
      height: 30px;
      aspect-ratio: 1;
      @include flexCol;
      color: var(--text);
      text-align: center;
      user-select: none;
    }

    .cell {
      width: 12.5%;
      aspect-ratio: 1;
      @include flexCol;
      cursor: pointer;
      border-radius: 50%;
      transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
      margin: 0.8%;
      user-select: none;
      border-radius: 5px;
      background-color: var(--background);
    }

    .cell:hover {
      background-color: var(--primary) !important;
      color: var(--text);
    }

    .outMonth {
      color: var(--text-low);
      background-color: var(--background-low);
    }

    .today {
      background-color: var(--primary-dark);
      color: var(--text-contrast);
    }

    .selected {
      border: 2px solid var(--primary-dark);
    }

    .selected:hover {
      background-color: var(--primary-dark);
      color: var(--text);
    }
  }
}
