@import "index.scss";

// All edits rules
.input {
  width: 100%;
  border: none;
  outline: none;
  background: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  box-shadow: none;
}

.value {
  width: 100%;
  word-wrap: break-word; /* Allows long words to be broken and wrap to the next line */
  overflow-wrap: break-word; /* Ensures compatibility with different browsers */
  white-space: normal; /* Allows text to wrap normally */
}

.name {
  @extend .value;
  font-size: $pxmoderate;
}

.description {
  @extend .value;
  font-size: $pxnormal;
}
