@import "index.scss";

// All edits rules
.input {
  width: 100%;
  border: none;
  outline: none;
  background: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  box-shadow: none;
}

.name {
  font-size: $pxmoderate;
}

.description {
  font-size: $pxnormal;
}
