@import "index.scss";

.card {
  position: relative;
  width: 100%;
  height: 65px;
  @include flexRow;
  justify-content: flex-start;
  border-radius: 5px;
  box-shadow: $cardShadow;
  padding: 10px;
  color: var(--text);

  .fieldsWrapper {
    @include flexCol;
    justify-content: space-between;
    align-items: flex-start;
    width: 85%;
  }

  .countWrapper {
    // prettier-ignore
    @include absolute((top: 50%, right: 15px ));
    transform: translateY(-50%);
    @include flexRow;
    flex-direction: row-reverse;
    justify-content: flex-start;
    gap: 3px;
    height: 100%;
    aspect-ratio: 1;
    cursor: pointer;
    border-radius: 50%;

    .count {
      font-size: $pxsize32;
    }
  }
}
