.testPageContainer {
  display: flex;
  flex-direction: row;
  gap: 15px;
  width: 100%;
  height: calc(100vh - 70px);
  justify-content: center;
  align-items: center;
}

.square {
  width: 75px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: aliceblue !important;
  border-radius: 2px;
}

.squareBase {
  opacity: 0.5;
}

.squarePreview {
  opacity: 1 !important;
  background-color: pink !important;
}

.rect {
  background-color: wheat !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 15px;
  gap: 15px;
  width: auto;
  height: 85vh;
  min-width: 125px;

  .rect {
    background-color: pink !important;
    height: calc(100% - 15px) !important;
  }
}

.rectHover {
  border: 2px solid black;
}
