@import url('https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
  /* Color: */
  --background: #FEFEFE;
  --background-low: rgba(254, 254, 254, 0.35);
  --card-background: #FFFFFF;
  --card-off-background: rgba(248, 237, 227, 0.35);
  --text: #43000A;
  --text-contrast: #FDF6DA;
  --text-low: #B2A59B;
  --primary: #D0B8A8;
  --primary-dark: #8D493A;
  --primary-light: #F8EDE3;

  /* Zone Colors */
  --midnight: #7196BA;
  --midnight-dark: #003366;
  --midnight-text: #FFF7D1;
  --midnight-low: rgba(113, 150, 186, 0.6);
  --midnight-fading: #9ECFFF;
  --midnight-fading-to: rgba(113, 150, 186, 0.1);

  --morning: #fffbe2;
  --morning-dark: #ffcc00;
  --morning-text: #ffcc00;
  --morning-low: rgba(255, 204, 0, 0.6);
  --morning-fading: #ffcc00;
  --morning-fading-to: rgba(255, 204, 0, 0.1);

  --noon: #FFD6BC;
  --noon-dark: #ff812e;
  --noon-text: #ff812e;
  --noon-low: rgba(255, 129, 46, 0.6);
  --noon-fading: #ff812e;
  --noon-fading-to: rgba(255, 129, 46, 0.1);

  --evening: #FFD1E9;
  --evening-dark: #DB6D9A;
  --evening-text: #DB6D9A;
  --evening-low: rgba(219, 109, 154, 0.6);
  --evening-fading: #DB6D9A;
  --evening-fading-to: rgba(219, 109, 154, 0.1);

  --night: #E5D9F2;
  --night-dark: #8e44ad;
  --night-text: #8e44ad;
  --night-low: rgba(142, 68, 173, 0.6);
  --night-fading: #8e44ad;
  --night-fading-to: rgba(142, 68, 173, 0.1);

  /* Notes Colors: */
  --red-pastel: #FFDDD8;
  --red-highlight: #F3A1A1;
  --red-important: #A52A2A;

  --coral-pastel: #FFB3B3;
  --coral-highlight: #FF9A9A;
  --coral-important: #FF5C5C;

  --pink-pastel: #FDCEDF;
  --pink-highlight: #FFBAD5;
  --pink-important: #FF90BC;

  --berry-pastel: #F0B2C7;
  --berry-highlight: #E69AB2;
  --berry-important: #C54B76;

  --peach-pastel: #FFEAD5;
  --peach-highlight: #FFC5A6;
  --peach-important: #D36F4F;

  --orange-pastel: #FFE3C4;
  --orange-highlight: #F5B97F;
  --orange-important: #C85A00;

  --copper-pastel: #D9B78C;
  --copper-highlight: #C89F73;
  --copper-important: #8C5B3A;

  --yellow-pastel: #FFF8B5;
  --yellow-highlight: #F7E28A;
  --yellow-important: #C8A200;

  --gold-pastel: #F6E8A0;
  --gold-highlight: #F6CF7F;
  --gold-important: #FABC3F;

  --beige-pastel: #F9F7E1;
  --beige-highlight: #E3D6B0;
  --beige-important: #AA8855;

  --green-pastel: #D9F3D1;
  --green-highlight: #A4D89B;
  --green-important: #3D7045;

  --sage-pastel: #E1E7D1;
  --sage-highlight: #C1CE9C;
  --sage-important: #68785A;

  --mint-pastel: #D6F8E9;
  --mint-highlight: #9BE6D1;
  --mint-important: #3C8B6D;

  --teal-pastel: #C0ECEA;
  --teal-highlight: #8ACDC9;
  --teal-important: #317C7C;

  --cyan-pastel: #B3E7F3;
  --cyan-highlight: #8ED0E6;
  --cyan-important: #0097A7;

  --blue-pastel: #D4E8F6;
  --blue-highlight: #A0D1F1;
  --blue-important: #4682B4;

  --navy-pastel: #C7D7EB;
  --navy-highlight: #92B2D4;
  --navy-important: #2F4F6F;

  --purple-pastel: #EBD9F0;
  --purple-highlight: #C9A6D8;
  --purple-important: #5D3D89;

  --lavender-pastel: #E6D6E7;
  --lavender-highlight: #D8A2D2;
  --lavender-important: #A85CC2;

  --brown-pastel: #EED8C0;
  --brown-highlight: #C9A575;
  --brown-important: #704531;

  --maroon-pastel: #D4A8A8;
  --maroon-highlight: #AD7070;
  --maroon-important: #660000;

  --grey-pastel: #E9E6E6;
  --grey-highlight: #B5B5B5;
  --grey-important: #5A5A5A;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Mali", 'Comic Sans MS', 'Segoe UI', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}