@import "index.scss";

.noteCard {
  position: relative;
  width: 95%;
  @include flexCol;
  border-radius: 5px;
  box-shadow: $cardShadow;

  .timeRange {
    @include flexRow;
    gap: 2px;
    flex-wrap: wrap;
    font-size: $large;
  }

  .name {
    font-size: $pxmoderate;
  }

  .description {
    font-size: $pxnormal;
  }
}

.colorPicker {
  // prettier-ignore
  @include absolute((top: 0, right: 0));
  box-shadow: $cardShadow;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  overflow: hidden;

  .wrapper {
    // prettier-ignore
    @include absolute((top: 0, right: 0));
    @include flexRow;
    align-items: flex-start;
    gap: 5px;
    padding: 5px;

    .colors {
      @include flexRow;
      flex-wrap: wrap;
      gap: 2px;
    }
  }
}
