@import "index.scss";

.card {
  position: relative;
  width: 95%;
  min-height: 80px;
  @include flexCol;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 5px;
  box-shadow: $cardShadow;
  padding: 2px 6px;
  overflow: hidden;

  .periodIcon {
    min-width: 16px;
  }

  .timeRange {
    @include flexRow;
    justify-content: flex-start;
    gap: 5px;
    font-size: $pxlarge;
    overflow: hidden;
  }

  .actions {
    // prettier-ignore
    @include absolute((top: 0, right: 0 ));
    @include flexCol;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 5px;
    border-radius: 5px;
    width: 26px;
    padding: 6px 3px;
  }
}
