@import "index.scss";

.card {
  position: relative;
  width: 95%;
  min-height: 80px;
  @include flexCol;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 5px;
  box-shadow: $cardShadow;
  padding: 2px 6px;

  .timeRange {
    @include flexRow;
    justify-content: flex-start;
    gap: 5px;
    font-size: $pxlarge;
    overflow: hidden;
  }

  .actions {
    // prettier-ignore
    @include absolute((top: 5px, right: 5px ));
    @include flexCol;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 5px;
    border-radius: 50%;
    width: 25px;
  }
}
